{% import "macros.html" as macros %}
<div class="text-sm antialiased opacity-60">
  {% if page.date %}
  <time>{{ macros::persianize(text=page.date | date) }}</time>
  <span class="mx-1">&middot;</span>
  <span>{{ macros::persianize(text=page.reading_time) }} دقیقه</span>
  {% endif %}<!---->
  {% if page.authors | length > 0 %}<!---->
  {% set author = page.authors | join(sep=", ") %}<!---->
  {% else %}<!---->
  {% set author = config.author %}<!---->
  {% endif %}<!---->
  {% if author %}
  <span class="mx-1">&middot;</span>
  <span>{{ author }}</span>
  {% endif %}
  <!-- Page Info inject -->
  {% include "injects/page_info.html" ignore missing %}
</div>
